---

const location = "Ballina";
const name="SurFACE"
---

<!-- START OF ABOUT US -->
 <section id="About">
 <div class="about-heading">
  <h1> About Us <i class="fa-solid fa-circle-info" style="color: #000000;"></i> </h1>
 <div class="about-container">
  <p>Hello everyone, My name is Jessica Padden and I am the founder of the {name}. We started in December 2024 and are excited to share our upcoming products and our partners!</p>
 <i class="fa-solid fa-location-dot fa-bounce" style="color: #000000;"></i>
<p>We are located at Barretts Street, {location}, Co.Mayo</p>
        <h2>Find Your SurFACE & Glow</h2>
        <p>Thank you for your interest in the SurFACE. At the SurFACE, we value and support our local customers.
        This is why we are so excited to finally launch online!We are an animal cruelty free company and we use recycle materials for our product packages!</p>
      </div>
  </section>
<!-- end of about section-->