<!--Contact form start--> 
 <section id="Contact" >
  <form class="contact-form">
    <h1>&#9990; Contact Us</h1>
    <div class="form-group">
      <form action="#" method="POST">
Full Name*: <input type="text" name="name" placeholder="Place Name Here"><br>
  <br> Email Address*:  <input type="email" name="email" placeholder=" Email Address Here" required><br><br>
   <label for="country">Country:</label><br>
      <select id="country" name="country"><br>
        <option value="Ireland">Ireland</option>
        <option value="UK">UK</option>
        <option value="France">France</option>
      </select><br>


      <label for="message">Message:</label><br>
      <textarea id="message" name="message" cols="10" rows="4"></textarea><br><br>


 
     <button type="submit">Send</button><br>
      </div>
      </form>
</section>
<!--END OF CONTACT FORM-->




 
