<!--accordion section -->
<!-- reason for adding a B5 accordion is to make a repsonsive box that collapses and expands for all devices and is user friendly-->
<!--section 1-->
<section>

<div class="accordion" id="sections">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1"> 
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#section-1" aria-expanded="true" aria-controls="section-1">
       
      Section 1:Dermatologist Reviews
      </button>
    </h2>
         <!--asscociating content with the heading the class needs to state show for collapse, the parent is the id of sections to let bs now that this accordation is to be inside the one above -->
        <div id="section-1" class="accordion-collapse, collapse show" aria-labelledby="heading-1" data-bs-parent="#sections">
          <div class="accordion-body">
<p>"We  recommend these ingredients to boost your collagen and elasticilty in your skin"</p>
<h4>Research & Ingredients </h4>
<ol>
  <li>Aqua</li>
  <li>Glycerin</li>
   <li>Hyaluronic acid</li>
    <li>Nicinamide</li>
     <li>Collagen</li>
      <li>SPF 50</li>
      <img src="/surfacesite/public/images/skincare.png" alt="skincare" width="100px" >
       <img src="/surfacesite/public/images/skinset.png" alt="skinset" width="100px">
</ol>
          </div>
      </div>
    </div>




    <!--section 2-->
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-2">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#section-2" aria-expanded="false" aria-controls="section-2">
        Section 2: Our Partners
        </button>
      </h2>
      <div id="section-2" class="accordion-collapse collapse"
      aria-labelledby="Section-2" data-bs-parent="#sections">
        <div class="accordion-body">
     <p>We are launching our business with a range of products and will be collaborating with Irish Make-up Artists such as:</p>
   <ul>
      <li><a href="https://ellaandjo.ie/" target="_blank" rel="noopener noreferrer">ELLA & JO</a></li>
      <li><a href="https://kashbeauty.com/" target="_blank" rel="noopener noreferrer">KASH BEAUTY</a></li>
      <li><a href="https://sosueme.ie/about-suzanne-jackson/" target="_blank" rel="noopener noreferrer">SOSU Cosmetics</a></li>
      </ul>
          </div>
  </div>
</div>


    <!--section 3-->
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-3">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#section-3" aria-expanded="false" aria-controls="section-3">
        Section 3: Tutorials
        </button>
      </h2>
 <div id="section-3" class="accordion-collapse collapse"
      aria-labelledby="Section-3" data-bs-parent="#sections">
        <div class="accordion-body">
<iframe  width="auto" height="auto" src="https://www.youtube.com/embed/j2y8jnmBgSg?list=PL-_qSuEl3UwFF4PAlFGhtizozZnAzBXm9" title="Find YOUR Contrast LevelðŸ¤ðŸ¤ŽðŸ–¤Low, Medium &amp; High Contrast Makeup Explained ft. SHEGLAM"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe  width="auto" height="auto" src="https://www.youtube.com/embed/n55z6Rk-NJU" title="ULTIMATE EVERYDAY MAKEUP TUTORIAL (only 15 mins! quick &amp; easy!)"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe> 
<iframe width="auto" height="auto" src="https://www.youtube.com/embed/zY7FHOAjk_o" title="easy soft glam makeup"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>
<style>

p{
  color: rgb(0, 0, 0);
  font-style: italic;
}

ol{
  text-align: justify;
}


 li{
  text-align: left;
 }



  .iframe{
    margin:10px;
    padding: min(5em, 8%);
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  </style>
      </div>
      </div>
    </div>
</div>
      </section>
      <!--END OF ACCORDION-->