<!-- START OF MODAL -->
 <!--modal for customer favourites -->
 <section>
<div class="Modal1 modal-sm">
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
 View favourites
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Favourites</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <div class="chart-container"> 2025 Findings
<canvas class="customerchart"></canvas>

       </div>
       <div class="data-details">
        <ul>
          <li>Lipgloss <span class="percentage-data">30%</span></li>
              <li>Mascara <span class="percentage-data">50%</span></li>
                  <li>Blush <span class="percentage-data">80%</span></li>
                      <li>Primer <span class="percentage-data">20%</span></li>
                          <li>Eyebrow Promade <span class="percentage-data">10%</span></li>
        </ul>
        </div>
</div>
</div>
</div>
    </div>
  </div>
</div>
</section>
<!--END OF MODAL AND CHART DATA -->
