 <!--restyling product card to make them responsive-->
   <section id="Products">
    <h1> Products</h1>
    <div class="product-container">
      <!-- p1-->
      <div class= "product-card">
 <img src="surfacesite/public/images/skincare.png" alt="skincare"/>
 <div class="product-content">
    <h3>Skin Serum</h3>
    <p> Upcoming prices €15 / £12</p>
 </div>
</div>
      <!-- p2-->
   <div class= "product-card">
  <img src="surfacesite/public/images/lipstick.png" alt="liptstick"/>
 <div class="product-content">
    <h3>Lipstick</h3>
    <p> Upcoming prices €15 / £12</p>
   
 </div>
</div>
      <!-- p3-->
   <div class= "product-card">
  <img src="surfacesite/public/images/skinset.png" alt="skinset"/>
 <div class="product-content">
    <h3>Skin Care Set</h3>
    <p> Upcoming prices €15 / £12</p>
    
 </div>
</div>

      <!-- p4-->
   <div class= "product-card">
   <img src="surfacesite/public/images/eyeshadow.png"  alt="eyeshadow"/>
 <div class="product-content">
  <h3>Eyeshadows</h3>
    <p> Upcoming prices €15 / £12</p>

 </div>
</div>
      <!-- p5-->
   <div class= "product-card">
 <img src="surfacesite/public/images/foundationsurface.png" alt="foundation"/>
 <div class="product-content">
  <h3>Foundation </h3>
    <p> Upcoming prices €15 / £12</p>

 </div>
</div>
      <!-- p6-->
   <div class= "product-card">
  <img src="surfacesite/public/images/perfume.jpg" alt="perfume"/>
 <div class="product-content">
  <h3>Perfume</h3>
    <p> Upcoming prices €15 / £12</p>
   
 </div>
</div>

   </section>


