<!--Team -->
<section>
<div class="team-container">
  <h2 style="color:rgb(230, 75, 209)">Meet Our<strong> Team</strong></h2>
  <div class="team-card">
  <div class="team-content">
  <div class="team-image">
    <img src="/surfacesite/images/leah.jpg" alt="team1" width="150px" height="150px">
    </div>
    <div class="team-info">
      <div class="team-name"> Leah </div>
      <div class="team-role"> Marketing Manager</div>
    </div>
    <p class="team-background">Studied at UCD in Marketing been with the Surface for over 5 years now!</p>
    </div>
</div>


<div class="team-card">
<div class="team-content">
  <div class="team-image">
    <img src="surfacesite/images/jason.jpg"  alt="team2" width="100px" height="100px">
    </div>
    <div class="team-info">
      <div class="team-name"> Jason </div>
      <div class="team-role"> Sales Manager</div>
    </div>
    <p class="team-background">Studied at UCD in Sales Mangement and  been with the Surface for over 2 years now!</p>
</div>
  </div>

  <div class="team-card">
<div class="team-content">
  <div class="team-image">
    <img src="surfacesite/images/yazhou.jpg"  alt="team3"  width="150px" height="150px">
    </div>
    <div class="team-info">
      <div class="team-name"> Yazhou </div>
      <div class="team-role"> Project Manager</div>
    </div>
    <p class="team-background">Studied at DCU in Web development has  been with the Surface for over 3 years now!</p>
</div>
</div>
</section>